body {
  margin: 0;
  padding: 0;
  background-color: #100101;
}

.app {
  display: flex;
  flex-wrap: wrap;
  jsutify-content: space-between;
 
}
/*
the ordered list*/
.locations-list {
  width: 100%;
  background: #ddd;
  height: 100%;
  color: white;
  background: #100101;
  font-size: 1em;
}

.map-container {
  width: 70%;
  height: 100vh;
  order: 1;
  padding: 2em;
  box-sizing: border-box;
  background: #100101;

}

#map {
  width: 100%;
  margin: auto;
  height: 100%;
  border: 2px solid white;
}
/*
the whole left side component*/
.locations {
  width: 28%;
  height: 80%;
  padding: 1em;
  box-sizing: border-box;
}

::-webkit-scrollbar { 
    display: none; 
}

.search-locations {
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 10px;
  padding-right: 20px;
}

/*
the single location*/
.location {
  width: 80%;
  padding: .5em;
  font-size: 1em;
  border-bottom: 1px solid #636363;
  cursor: pointer;
  margin:.5em;
  position: relative;
}

.location:hover, .location:focus {
  background-color: orange;
  color: #100101;
}

.foursquare-attribution {
  color: white;
  font-size: .9em;
  width: 80%;
  margin: auto;
  padding: 1vh 0;
}
/*
input and filter button*/
.search {
  width: 100%;
  margin: auto;
  order: 0;
}

.search-input {
  height: 4vh;
  width: 70%;
}

.filter-button {
  height: 5vh;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  width: 25%;
  min-width: 48px;
}

.filter-button:active {
  transform: translateY(2px);
}

.header {
  font-family: 'IM Fell English', serif;
  width: 100%;
  height: 15vh;
  background-color:#238ae6;
  text-align: center;
  padding: 5vh 0;
  vertical-align: middle;
  font-size: 1.8em;
  box-sizing: border-box;
  color: white;
}

.footer {
  width: 100%;
  height: 10vh;
  color: white;
  order: 4;
  text-align: center;
  background-color: #1fa67a;
  padding: 2vh 0;
  margin-top: 5vh;
}

.footer-content {
  text-align: center;
}

.menue-icon-container {
  background: black;
  width: 35px;
  cursor: pointer;
  display: none;

  position: relative;
  float: right 
}

.bar {
  width: 100%;
  height: 5px;
  margin: 6px 0;
  background-color: white;
}

.locations.open {
  transform: translate(0,0)
}

.fa {
  margin: 10px;
  cursor: pointer;
  font-size: 1.5em;
  color: white;
}

@media screen and (max-width: 750px) {
  .map-container {
    width: 100%;
    margin: auto;
  }
  
  .menue-icon-container {
    display: inline-block;
  }

  .locations {
    width: 300px;
    position: absolute;
    top: 15vh;
    height: 100%;
    transform: translate(-300px, 0);
    transition: transform .3s ease;
  }
}

